beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2026.2.25
charset-normalizer==3.4.6
-e git+https://github.com/tpoincelot/CYS493@bad727af74172cfc20609158657df83b0f3ecb58#egg=CYS493
idna==3.11
iniconfig==2.3.0
packaging==26.0
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
requests==2.32.5
setuptools==82.0.1
soupsieve==2.8.3
typing_extensions==4.15.0
urllib3==2.6.3
wheel==0.46.3
